cssselect2==0.7.0
defusedxml==0.7.1
pycparser==2.22
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.16.1
PySide6==6.8.1.1
PySide6_Addons==6.8.1.1
PySide6_Essentials==6.8.1.1
shiboken6==6.8.1.1
svgwrite==1.4.3
tinycss2==1.4.0
webencodings==0.5.1
